<nav class="navbar is-transparent is-fixed-top has-shadow" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <h1 class="title">Woodson's Blog</h1>
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item">
                <a class="navbar-item">
                    <b>About</b>
                </a>
                <a class="navbar-item">
                    <b>Blog</b>
                </a>
                <a class="navbar-item">
                    <b>Contact</b>
                </a>
                <a class="navbar-item">
                    <b>Wiki</b>
                    <span class="icon">
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                    </span>
                </a>
                <a class="navbar-item">
                    
                </a>
                <div class="buttons">
                    <div class="button">
                        切换
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>