<nav class="navbar is-transparent is-fixed-top has-shadow" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <h1 class="title">Muzych's Blog</h1>
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item">
                <a class="navbar-item">
                    <b>Tags</b>
                    <span class="icon">
                        <i class="fa-solid fa-tag"></i>
                    </span>
                </a>
            </div>
            <div class="navbar-item">
                <a class="navbar-item">
                    <b>RSS</b>
                    <span class="icon">
                        <i class="fa-solid fa-rss"></i>
                    </span>
                </a>
            </div>
            <div class="navbar-item">
                <a class="navbar-item">
                    <b>Wiki</b>
                    <span class="icon">
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
</nav>