<button id="menuToggle" aria-label="menuToggle">
    <div id="closeIcon" class="i-line-md:close-to-menu-transition w-2.5rem h-2.5rem "></div>
    <div id="menuIcon" class="i-line-md:menu-to-close-transition w-2.5rem h-2.5rem hidden"></div>
    <slot/>
</button>

<script src="../scripts/menu.js"></script>