---
import { getImage } from "astro:assets";
import ThemeIcon from "./ThemeIcon.astro";

const favicon_avif = await getImage({
  src: "https://pics.mzych.ink/picstomb%2F2024%2F05%2Fe596365cb7d21826501ea0e8246214e9.jpg",
  alt: "favicon",
  // inferSize: true,
  width: "400",
  height: "400",
  decoding: "async",
  format: "avif"
});
---

<header class="mb-[30px]">
    <nav class="flex items-center justify-between w-full h-full relative align-center">
        <div>
            <a href="/">
              <img
                class="favicon absolute left-0 invert -mt-[15px]"
                src={favicon_avif.src}
                alt="Home"
                width="40px"
                height="40px"
              />
            </a>
          </div>

          <div class="absolute right-[55px] -mb-[5px]">
            <ThemeIcon />
          </div>
    </nav>
    <slot/>
</header>