<button id="toggle-button">
    <div class="i-line-md:moon-twotone-loop w-2rem h-2rem transition-opacity duration-300 dark:hidden" id="moon-icon"></div>
    <div class="i-line-md:sun-rising-twotone-loop w-2rem h-2rem transition-opacity duration-300 dark:block" id="sun-icon"></div>
    <slot/>
</button>
<script src="../scripts/themetoggle.js"></script>