<button id="themeToggle" aria-label="themeToggle">
    <div class="i-line-md:moon-twotone-loop w-3rem h-3rem block dark:hidden"></div>
    <div class="i-line-md:sun-rising-twotone-loop w-3rem h-3rem hidden dark:block"></div>
    <slot />
</button>
<script src="../scripts/themetoggle.js"></script>
