{% import "macros/fancybox_macro.html" as fancybox %}
{% import "macros/unocss_macro.html" as unocss %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes">
  <meta charset="utf-8">
  <title>{% block title %}{{ config.title }}{% endblock title %}</title>
  <meta name="description" itemprop="about"
    content="{% block description -%}{{ config.description }}{% endblock description -%}" />
  <meta name="keywords" itemprop="keywords" content="keywords" />
  <meta name="author" itemprop="author" content="{{ config.extra.author }}" />
  <meta itemprop="headline" content="{{ config.title }}" />
  <meta itemprop="copyrightYear" content="{{ now() | date(format=" %Y") }}" />

  <meta property="og:title" content="{% block ogtitle %}{{ config.title }}{% endblock ogtitle %}" />
  <meta property="og:description" content="{% block ogdesc %}{{ config.description }}{% endblock ogdesc %}" />
  <meta property="og:url" content="{% block ogurl %}{{ config.base_url }}{% endblock ogurl%}" />
  {% if config.generate_feed %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path=" atom.xml", trailing_slash=false)
    }}">
  {% endif %}
  <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css" />

</head>

<body class="dark:bg-light-color">
  <section class="section">
    {% block navbar %}
    {% endblock navbar -%}
    {% block content %}
    {% endblock content -%}
    {% block footer %}
    {% endblock footer -%}
  </section>
  {{ fancybox::fancybox_script() }}
  {{ unocss::unocss_script() }}
  {% block custom_script %}
  {% endblock custom_script -%}
</body>

</html>