---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html class="bg-[rgb(255,255,255)] dark:bg-[rgb(5,5,5)]" lang="en">
    <head>
        <ViewTransitions />
    </head>
    <body
        class="flex flex-col flex-wrap justify-between md:pt-8 md:pr-16 md:pb-8 md:pl-16 p-8 max-w-full min-h-screen dark:bg-[rgb(5,5,5)] dark:text-[rgb(255,255,255)]"
    >
        <Header />
        <slot/>
        <Footer />
    </body>
</html>
